@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.todo-card {
  background-color: $light-color;
  box-shadow: 1px 1px 5px 1px $light-gray-color;
  border-radius: 10px;
  padding: 30px 25px 15px;
  max-width: 200px;
  word-wrap: break-word;

  &.completed {
    .heading__title,
    .todo-card__description {
      text-decoration: line-through;
    }

    .options__btn:first-child {
      background-color: $green-color;
      box-shadow: 0px 3px 2px $green-color;

      &:hover {
        background-color: rgb(14, 109, 14);
      }
    }
  }

  .heading {
    @include flexbox(space-between);

    &__title {
      margin: 0;
    }

    .btn-update {
      cursor: pointer;
      transition: color, transform 300ms;

      &:hover {
        color: $green-color;
        transform: scale(1.4);
      }
    }
  }

  &__description {
    margin: 0;
    padding: 10px 0;
  }

  .options {
    width: 200px;
    @include flexbox(space-between);

    &__btn {
      @include button;
    }

    &__btn:first-child {
      background-color: $blue-color;
      box-shadow: 0px 3px 2px $blue-color;

      &:hover {
        background-color: rgb(10, 10, 194);
      }
    }

    &__btn:last-child {
      background-color: $red-color;
      box-shadow: 0px 3px 2px $red-shadow;

      &:hover {
        background-color: $red-shadow;
      }
    }
  }
}
