@import '../../assets/styles/variables.scss';

.login {
  min-height: 100vh;
  background: linear-gradient($hero-background),
    url(../../assets/images/login-image.jpg) center / cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 720px) {
    background: linear-gradient($hero-background),
      url(../../assets/images/login-image-2.jpg) center / cover;
  }

  &__container {
    width: 100%;
    min-height: 95vh;
    display: grid;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 920px) {
      grid-template-columns: 1fr 1fr;
      width: 80%;
      margin: auto;
    }

    .hero {
      display: none;

      @media screen and (min-width: 920px) {
        display: block;
        width: 100%;
        height: 380px;
        background: url(../../assets/images/login-image-2.jpg) center / cover;
        background-repeat: no-repeat;
        opacity: 0.9;
        border-radius: 10px 0 0 10px;
      }
    }

    .login-form {
      height: 340px;
      padding: 20px 35px;
      background-color: $light-color;
      border-radius: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (min-width: 920px) {
        border-radius: 0 10px 10px 0;
      }

      &__title {
        padding: 20px 0;
        margin: 0;
        text-transform: uppercase;
        color: $dark-color;
        letter-spacing: 1px;
        font-size: 1.5rem;
      }

      &__input {
        border-radius: 4px;
        border: 1px solid $light-gray-color;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 30px;
        outline: none;
        font-size: 0.9rem;
      }

      &__button {
        display: block;
        margin: 0 auto;
        padding: 8px 30px;
        font-family: 'Poppins', sans-serif;
        background-color: #c72424;
        border-radius: 8px;
        border: none;
        font-size: 1rem;
        color: $light-color;
        text-align: center;
        cursor: pointer;
        box-shadow: 0px 3px 2px #c72424;

        &:hover {
          background-color: #a70f0f;
        }
      }
    }
  }
}
