@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.update-form {
  margin-top: 30px;

  &__label {
    display: block;
    margin-bottom: 20px;

    span {
      display: block;
    }
  }

  .preview-image {
    display: block;
    margin-bottom: 20px;
  }

  &__btn {
    @include button;
    background-color: $blue-color;
    box-shadow: 0px 3px 2px $blue-shadow;

    &:hover {
      background-color: $blue-shadow;
    }
  }
}
