@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.todo-form {
  max-width: 450px;

  input[type='text'],
  textarea {
    display: block;
    width: calc(100% - 25px);
    padding: 10px;
    border: 1px solid $light-gray-color;
    border-radius: 7px;
    margin: 15px 0 15px;
    outline: none;
  }

  &__btn {
    @include button;
    background-color: $blue-color;
    box-shadow: 0px 3px 2px $blue-shadow;

    &:hover {
      background-color: $blue-shadow;
    }
  }
}
