@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.home {
  position: relative;

  .settings {
    @include flexbox(flex-start, initial);
    padding: 20px 0;
    column-gap: 20px;

    &__btn {
      @include button;

      &:first-child {
        background-color: $purple-color;
        box-shadow: 0px 3px 2px #9a369a;

        &:hover {
          background-color: rgb(111, 6, 111);
        }
      }

      &:nth-child(2) {
        background-color: $red-color;
        box-shadow: 0px 3px 2px $red-shadow;

        &:hover {
          background-color: $red-shadow;
        }
      }

      &:last-child {
        align-self: flex-end;
        background-color: $red-color;
        box-shadow: 0px 3px 2px $red-shadow;

        &:hover {
          background-color: $red-shadow;
        }
      }
    }
  }

  .btn-logout {
    position: fixed;
    width: 55px;
    height: 55px;
    right: 20px;
    bottom: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color: $red-color;
    border: none;
    color: $light-color;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px #f55757;
    transition: background-color 200ms;

    &:hover {
      background-color: rgb(224, 17, 17);
    }

    i {
      font-size: 1.6rem;
    }
  }
}
