@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.header {
  @include flexbox(space-between);
  border-bottom: 1px solid $light-gray-color;

  &__title {
    margin: 0;
  }

  .profile {
    position: relative;
    margin-top: 10px;
    display: grid;

    &__button {
      position: absolute;
      padding: 10px 15px;
      margin: 6px auto;
      border: none;
      border-radius: 5px;
      color: $light-color;
      font-size: 1rem;
      cursor: pointer;
      background-color: $red-color;
      font-family: 'Poppins', sans-serif;
      display: none;
      top: 50px;

      &:hover {
        background-color: $red-shadow;
      }
    }

    &__update {
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 1;
      right: -7px;
      cursor: pointer;

      .icon {
        font-size: 1.4rem;
        color: rgb(50, 11, 167);
      }
    }

    &:hover {
      .profile__button {
        display: block;
      }
    }

    .avatar {
      position: relative;
      margin: 0;
      text-align: center;

      &__image {
        max-height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }

      p {
        margin: 0;
      }
    }
  }
}
