@import '../../assets/styles/variables.scss';

.empty-todos {
  max-width: 320px;
  padding: 10px 5px 2px;
  background-color: orange;
  box-shadow: 2px 2px 4px 0px #f3a20f;
  border-radius: 10px;
  color: $light-color;
  text-align: center;

  &__icon {
    font-size: 2.5rem;
  }

  &__text {
    text-transform: capitalize;
  }
}
