@import '../styles/variables.scss';
@import '../styles/mixins.scss';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(254 253 253);
}

button {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;

  @media screen and (min-width: 720px) {
    width: 85%;
    margin: auto;
  }
}

.return-btn {
  @include button;
  background-color: $green-color;
  box-shadow: 0px 3px 2px $green-color;

  &:hover {
    background-color: rgb(14, 109, 14);
  }
}
