// COLORS
$light-color: white;
$light-gray-color: #ccc;
$dark-color: black;
$red-color: red;
$blue-color: blue;
$purple-color: purple;
$green-color: green;
$hero-background: rgb(15 103 138 / 90%), rgb(123 21 21 / 90%);

// SHADOWS
$red-shadow: #ef0404;
$blue-shadow: rgb(10, 10, 179);
